<html xmlns:th ="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/head :: headFragment">
<!--        <title layout:title-pattern="$CONTENT_TITLE">Boss Demo web application! :P</title>-->
    </head>

    <body>
        <div id="blockContentWrapper">
            <div th:replace="fragments/top :: topFragment"></div>
            <div layout:fragment="content"></div>
            <footer th:replace="fragments/footer :: footerFragment"></footer>
        </div>
    </body>

</html>